<h2>Edit Todo List</h2>

<div class="row">

  <div class="col-md-6">
    {{todo-item-form item=model buttonLabel='Save changes' action='saveTodo'}}
  </div>

  <div class="col-md-4">
    {{#todo-item item=model}}
      <br/>
    {{/todo-item}}
  </div>

</div>
