<h2>List</h2>
<div class="row">
  {{#each model as |todo|}}
    <div class="col-md-4">
      {{#todo-item item=todo}}
        {{#link-to 'todos.show' todo class='btn btn-default btn-xs'}}Show{{/link-to}}
        {{#link-to 'todos.edit' todo class='btn btn-success btn-xs'}}Edit{{/link-to}}
        <button class="btn btn-danger btn-xs" {{action 'deleteTodo' todo}}>Delete</button>
      {{/todo-item}}
    </div>
  {{/each}}
</div>
