<h1>Todo</h1>

<ul>
  <li>
    {{model.title}}
  </li>
  <li>
    {{model.createdBy}}
  </li>
</ul>

<h2>Items</h2>

<ul>
  {{#each model.items as |item|}}
    <li>{{item.name}}</li>
  {{/each}}
</ul>

{{#link-to 'todos.show.items.new' model class='button'}}Add item{{/link-to}}
