<h1>Todo</h1>

<ul>
  <li>
    {{model.todo.title}}
  </li>
  <li>
    {{model.todo.createdBy}}
  </li>
</ul>

<h2>Items</h2>

<ul>
  {{#each model.todo.items as |item|}}
    <li>{{item.name}}</li>
  {{/each}}
</ul>
